@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Libre+Baskerville&family=Poppins:wght@500&family=Raleway:wght@500&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #000000;
    box-shadow: 0 5px 0 #c4bdb7;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.navlist {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

.navlist a{
    display: block;
    padding: 1rem;
    font-size: 1rem;
    color: #ffffff;
    text-decoration: none;
    font-family: Raleway ,sans-serif;
}

a:hover {
    color: #6589ad;
}

/*End Navbar */

#welcome-section {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    background: #e6e6fa;
}

.hero-img {
    max-width: 300px;
    display: block;
    margin: auto;
}

h1 , .intro , h2 {
    text-align: center;
    padding-top: 1rem;
    font-size: 20px;
    font-family: Raleway , sans-serif;
    margin: auto;
    letter-spacing: 4px;
}

.description {
    text-align: center;
    padding-top: 2rem;
    letter-spacing: 1px;
    font-size: 15px;
    font-family: Raleway , sans-serif;
    margin: auto;
}

h1 .heading-inverted, h2 .heading-inverted {
    color: #b4a7d6;
}

/* End Welcome section*/

#projects {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 1rem;
    background: #b4a7d6;
    text-align: center;
}

.project-hero {
    max-width: 200px;
    display: block;
    margin: auto;
    padding-top: 2rem;
}

.h1-projects {
    font-size: 25px;
    letter-spacing: 2px;
}

.project-description {
    padding-top: 1rem;
}
 
.link-primary {
    background-color: #040d22;
    border-radius: 0.5rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-secondary {
    color: white;
    border-radius: 0.5rem;
    border: 1px solid #494a4b ;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/*End Project section*/

#contact {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
    background: #e6e6fa;
}

.contact-header {
    text-align: center;
    padding: 0.5rem 0.3rem;
}

.contact-hero {
    max-width: 200px;
    display: block;
    margin: auto;
    padding-top: 2rem;
}

.contact-links {
   display: flex;
   align-items: center;
   justify-content: center;
}

.contact-details {
    padding: 1rem;
    text-decoration: none;
    color: #000000;
}